appdirs==1.4.4
asgiref==3.4.1
certifi==2021.5.30
distlib==0.3.1
Django==3.1.14
django-ckeditor==5.9.0
django-js-asset==1.2.2
Pillow==9.0.1
pytz==2020.1
six==1.16.0
sqlparse==0.3.1
virtualenv==20.4.6
virtualenv-clone==0.5.4
Werkzeug==1.0.0
wincertstore==0.2
