{% extends 'base.html' %}
{% load static%}
{% block title %} | Blog {% endblock %}


{% block content %}

<div class="container text-muted">
    {% if blog %}
            <div class="col-md-12 float-left">
                <div class="text-center  justify-content-center"><br></div>
                <h2 class="text-info text-center"><strong><u>{{blog.title}}</u></strong></h2>
                <p class='text-info'> Published on {{ blog.date}} by {{blog.author.name}}</p>
                
                <div>
                    <br><p>{{ blog.paragraph_1 }}</p>
                </div>
                {% if blog.image_1%}
                  <div class="text-center  justify-content-center">
                    <img class="img-fluid" src="{{blog.image_1.url}}" loading="lazy"><br>
                    {% if blog.caption_1 %}
                      <i>{{blog.caption_1}}</i>
                    {% endif %}
                  </div>
                {% endif %}
                {% if blog.paragraph_2 %}
                  <div>
                    <br><p>{{ blog.paragraph_2 }}</p>
                  </div>
                {% endif %}
                {% if blog.image_2%}
                  <div class="text-center  justify-content-center">
                    <img class="img-fluid" src="{{blog.image_2.url}}" loading="lazy"><br>
                    {% if blog.caption_2 %}
                      <i>{{blog.caption_2}}</i>
                    {% endif %}
                  </div>
                {% endif %}
                {% if blog.paragraph_3 %}
                  <div>
                    <br><p>{{ blog.paragraph_3 }}</p>
                  </div>
                {% endif %}
                {% if blog.image_3%}
                  <div class="text-center  justify-content-center">
                    <img class="img-fluid" src="{{blog.image_3.url}}" loading="lazy"><br>
                    {% if blog.caption_3 %}
                      <i>{{blog.caption_3}}</i>
                    {% endif %}
                  </div>
                {% endif %}

                <div>
                <h6 class="text-info"><strong>Author</strong></h6>
                <p>{{ blog.author.name}}</p>
                <p class='text-info'>{{ blog.author.title}}</p>
                <img class="rounded-circle" src= '{{ blog.author.photo.url }}' loading="lazy" width="140", height="140">
                <p class='text-info'> Published on {{ blog.date}}</p>
                <p>{{blog.views}} View(s)</p>
                </div><br><br><hr>
            </div>
            <div class="col-md-12">
                <h3 class="text-info text-center"><strong>RECENT BLOG POSTS</strong></h3><hr>
          {% if recent_blogs %}
          {%for blog in recent_blogs%}
          {% include '_partials/_blog.html' %}
          {% endfor %}
          {% else %}
                <div class="col-md-12 text-center"><br>
                    <p><h3>No Blog posts to display</h3></p><br>
                </div>

          {% endif %}
                
            </div>
            <div class="col-md-12">
                <h3 class="text-info text-center"><strong>POPULAR BLOG POSTS</strong></h3><hr>
          {% if popular_blogs %}
          {%for blog in popular_blogs%}
          {% include '_partials/_blog.html' %}
          {% endfor %}
          {% else %}
                <div class="col-md-12 text-center"><br>
                    <p><h3>No Blog posts to display</h3></p><br>
                </div>

          {% endif %}
                
            </div>
    </div>
    {% endif %}
</div>
</body>

{% endblock %}