{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container">
          <br>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0 text-primary"><strong>Employee Share Ownership Plans (ESOPs) for Entrepreneurs</strong></h4>
                  <div class="mb-1 text-muted">July 12</div>
                  <p class="card-text mb-auto">By</p>
                  <p class="card-text mb-auto text-muted">Karumba Kinyua</p>
                  <a href="https://www.linkedin.com/pulse/employee-share-ownership-plans-esops-entrepreneurs-karumba-kinyua/" target="_blank" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-md-4 d-none d-sm-block">
                  <img class="mt-3 mb-3" src="images/karumba 1.jpg" alt="image" width='300' height="200">
                </div>
              </div>
            </div>
          </div>
          {% if external %}
          <hr>
          <h2 class="text-center text-info"><strong>EXTERNAL BLOGS</strong></h2><hr>
          {%for blog in external %}
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0 text-primary"><strong>{{ blog.title}}</strong></h4>
                  <div class="mb-1 text-muted">{{blog.date}}</div>
                  <p class="card-text mb-auto">By</p>
                  <p class="card-text mb-auto text-muted">{{blog.author}}</p>
                  <a href="{{blog.link}}" target="_blank" class="stretched-link">Continue reading</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {%else%}
               <div class="col-md-12">
                 <p><h3>No External Blogs to display</h3></p>
               </div>
          {% endif %}
          <hr>
          <h2 class="text-center text-info"><strong>VIDEOS</strong></h2><hr>
          {% if videos %}
          {% for video in videos %}
          <span class="card-deck">
            <div class="card col-xs-4 video-card">
              <iframe width="300" height="200" src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h5><a href="{{video.link}}" target="_blank">{{video.title}}</a></h5>
            </div>
            {% endfor %}
          </span>
          
          {% endif %}
          <br>

        </div>

    </div>
  </body>
  {% endblock content%}
 