{% extends 'base.html' %}
{% load static %}
{% block title %} | Media & Blogs {% endblock %}

{% block content %}
        <div class="container">
          <br>
          {% if blogs %}
          {%for blog in blogs%}
          {% include '_partials/_blog.html' %}
          {% endfor %}
            <div class="container text-center"><hr>
              <a href=" {% url 'all_blogs' %} "> View All Internal Blogs</a>
            </div>
          {% endif %}



          {% if external %}
          <hr>
          <h2 class="text-center text-info"><strong>EXTERNAL BLOGS</strong></h2><hr>
          {%for blog in external %}
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0 text-primary"><strong>{{ blog.title}}</strong></h4>
                  <div class="mb-1 text-muted">{{blog.date}}</div>
                  <p class="card-text mb-auto">By</p>
                  <p class="card-text mb-auto text-muted">{{blog.author}}</p>
                  <a href="{{blog.link}}" target="_blank" class="stretched-link">Continue reading</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {%else%}
               <div class="col-md-12">
                 <p><h3>No External Blogs to display</h3></p>
               </div>
          {% endif %}
          <hr>
          <h2 class="text-center text-info"><strong>VIDEOS</strong></h2><hr>
          {% if videos %}
          <div class="card-deck mb-3">
          {% for video in videos %}
            <div class="card mb-3">
              <iframe width="300" height="200" src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h5><a href="{{video.link}}" target="_blank">{{video.title}}</a></h5>
            </div>
            {% endfor %}
          </div>
          
          {% endif %}
          <br>

        </div>

    </div>
  </body>
  {% endblock content%}
 