{% extends 'base.html' %}
{% load static %}

{% block content %}
        
        
    <div class="container">
        <span class="col-lg-8 float-left">
            <div>
              <h2 class="text-info text-center"><strong>WE ARE ...</strong></h2>
                <p>A boutique advisory and investment firm combining classic and innovative methods with outstanding risk and strategy expertise to provide clients with business and investment management solutions that best suit their needs.</p>
                <p>At PineHill Consulting, we are passionate about our work. We couple our strong level of local and international expertise with a hands-on approach; taking pride in offering our clients unmatched consulting services that make us a real partner.</p>
                <p>We believe our role as a consultancy firm is to impact decision-making by providing informative solutions that enable our clients to make the best possible judgments for their organisation and achieve their strategic goal.</p>
            </div>

            <div>
            <h4 class="text-info text-center"><strong>OUR MISSION</strong></h4>

            <p >To offer exclusive customer focused and reliable consulting services that meet and exceed our clients set specifications with unwavering commitment and flawless execution.</p>
            </div>

            <div>
            <h4 class="text-info text-center"><strong>OUR VISION</strong></h4>
            <p >To be a leading investment firm offering diverse clients business &amp; management consulting, investment, risk &amp; governance advisory services throughout East Africa.</p>
            </div>

            <div>
            <h4 class="text-info text-center"><strong>OUR VALUES</strong></h4>
            <p>As PineHill Consulting, we value our clients satisftaction and hence we observe Integrity, Accountability, Quality and Enduring Partnerships.</p>
            </div><br><br>
        </span>
        <span class="col-lg-4">
            <h3 class="text-info text-center"><strong>OUR CLIENTS</strong></h3>
            <div class="container">
                
                    <img alt="" height="45" src='{% static "images/cma.png"%}' width="100" /><br />
                    Capital Markets Authority<br>
                    <img alt="" height="45" src='{% static "images/nacc.jpg"%}' width="100" /><br />
                    National AIDS Control Council<br>
                    <img alt="" height="45" src='{% static "images/stima.jpg"%}' width="100" /><br />
                    Stima Investment Co-Operative Society Ltd<br>
                    <img alt="" height="45" src='{% static "images/pfa.jpg"%}' width="100" /><br />
                    Personal Finance Academy<br>
                    <img alt="" height="45" src='{% static "images/deevabits.png"%}' width="100" /><br />
                    DEEVABITS Kenya Ltd<br>
                    <img alt="" height="45" src='{% static "images/kcic.jpg"%}' width="100" /><br />
                    Kenya Climate Innovation Center<br>
                    <img alt="" height="45" src='{% static "images/sinapis.png"%}' width="100" /><br />
                    Sinapis<br>
                    <img alt="" height="45" src= '{% static "images/icifa.png"%}' width="100" /><br />
                    ICIFA Institute Certified Investment and Financial Analysis<br>
                </ul>
            </div>
        </span>
    </div>
    </div>
  </body>
  {% endblock content%}
