{% extends 'base.html' %}
{% load static %}
{% block title %} | About Us {% endblock %}

{% block content %}
        
        
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
              <h3 class="text-info text-center"><strong>WE ARE ...</strong></h3>
                <p class="text-muted">A boutique advisory and investment firm combining classic and innovative methods with outstanding risk and strategy expertise to provide clients with business and investment management solutions that best suit their needs.</p>
                <p class="text-muted">At PineHill Consulting, we are passionate about our work. We couple our strong level of local and international expertise with a hands-on approach; taking pride in offering our clients unmatched consulting services that make us a real partner.</p>
                <p class="text-muted">We believe our role as a consultancy firm is to impact decision-making by providing informative solutions that enable our clients to make the best possible judgments for their organisation and achieve their strategic goal.</p>
            </div>

            <div>
            <h4 class="text-info text-center"><strong>OUR MISSION</strong></h4>

            <p class="text-muted">To offer exclusive customer focused and reliable consulting services that meet and exceed our clients set specifications with unwavering commitment and flawless execution.</p>
            </div>

            <div>
            <h4 class="text-info text-center"><strong>OUR VISION</strong></h4>
            <p class="text-muted">To be a leading investment firm offering diverse clients business &amp; management consulting, investment, risk &amp; governance advisory services throughout East Africa.</p>
            </div>

            <div>
            <h4 class="text-info text-center"><strong>OUR VALUES</strong></h4>
            <p class="text-muted">As PineHill Consulting, we value our clients satisftaction and hence we observe Integrity, Accountability, Quality and Enduring Partnerships.</p>
            </div><br><br>
        </div>
        <div class="col-md-4">
            <h3 class="text-info text-center"><strong>OUR CLIENTS</strong></h3>
            <div class="container">
                
                    <img alt="" height="45" src='{% static "images/kcb.jpg"%}' width="100" /><br />
                    Kenya Commercial Bank<br>
                    <img alt="" height="45" src='{% static "images/rba.png"%}' width="100" /><br />
                    Retirements Benefits Authority<br>
                    <img alt="" height="45" src='{% static "images/acef.jpg"%}' width="100" /><br />
                    ACEF<br>
                    <img alt="" height="45" src='{% static "images/gain.jpg"%}' width="100" /><br />
                    Global Alliance for Improved Nutrition<br>
                    <img alt="" height="45" src='{% static "images/mespt.png"%}' width="100" /><br />
                    MESPT<br>
                    <img alt="" height="45" src='{% static "images/giz.png"%}' width="100" /><br />
                    GIZ<br>
                    <img alt="" height="45" src='{% static "images/cpf.png"%}' width="100" /><br />
                    CPF<br>
                    
            </div>
        </div>
    </div>
    </div>
</div>
</body>
  {% endblock content%}
