{% extends 'base.html' %}
{% load static %}

{% block content %}
        <img src='{% static "images/capacity.jpg"%}' class="d-block w-100" alt="..." width="640" height="350"><br>
        <div class="container">
            <h2 class="text-center text-info"><strong>Training and Development</strong></h2>
            <hr>

            <h4><strong>Education is a progressive discovery of our own ignorance</strong></h4>


            <p>Organizations want employees who are engaged with their mission, values and vision and who have the skills needed to improve performance.</p>

            <p>Quick, decisive responses to changing conditions have become crucial for organisations and individuals who want to thrive and turn challenges into opportunities.</p>

            <p>Strategies, processes and technology alone cannot deliver results. Staying ahead of the pack requires people with the right skills</p>

            <p>At PineHill Consulting, we update personnel&rsquo; skills and prepare them for career advancement. Not only providing a better trained and more productive workforce, but generating higher employee satisfaction and retention.</p>

            <h4 class="text-info"><strong>WE OFFER SERVICES IN: </strong></h4><hr>

            <ol>
                <li>Investment Management</li>
                <li>Financial Management</li>
                <li>Risk Management</li>
                <li>Treasury Management</li>
                <li>Strategic Planning and Management</li>
                <li>Corporate Governance</li>
                <li>Business Operations Management</li>
                <li>Business Continuity Planning</li>
                <li>SMEs Capacity Building &amp; Sustainable Strategy</li>
                <li>Entrepreneurship</li>
            </ol>
        </div>
    </div>
  </body>
  {% endblock content %}
