{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <div>
                <h2 class="text-center text-info"><strong>CAREER OPPORTUNITIES</strong></h2><hr>
                <p>PineHill is an Equal opportunity employer. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                <h3 class="text-center text-info"><strong>INVESTMENT ASSISTANT (JOB ID - 0001)</strong></h3><hr>
                <h3 class=" text-info"><strong>Job Requirements</strong></h3><hr>
                <ol>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                    <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                </ol>
                <p><a class="btn btn-info btn-lg" data-toggle="collapse" href="#collapseJob" role="button" aria-expanded="false" aria-controls="collapseJob">Apply</a>
                </p>
                <div class="collapse" id="collapseJob">
                    <div class="card card-body">
                        <form action="#">
                            <form>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name">
                                  </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="email">E-Mail Address</label>
                                      <input type="email" class="form-control" id="email" name="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="phone">Phone Number</label>
                                      <input type="phone" class="form-control" id="phone" name="phone">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="coverLetter">Attach Cover letter</label>
                                    <input type="file" class="form-control-file" id="coverLetter">
                                  </div>
                                  <div class="form-group">
                                    <label for="cv">Attach CV</label>
                                    <input type="file" class="form-control-file" id="cv">
                                  </div>                                
                                <button type="submit" class="btn btn-info btn-lg">Submit Application</button>
                              </form>
                        
                            </div>
                          </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  <br>
  {% endblock content%}
 