{% extends 'base.html' %}
{% load static %}
{% block title %} | Careers {% endblock %}

{% block content %}
<div class="container">
    {% include '_partials/messages.html' %}
    
    <h4 class="text-center text-info"><strong>{{ job.title }}</strong></h4>
<h5><em>Closing Date: {{ job.closing }} at 23:59 (E.A.T)</em></h5><hr>
<h3 class=" text-info"><strong>Job Description</strong></h3><hr>
<p>{{job.description}}</p>

<h3 class=" text-info"><strong>Job Requirements</strong></h3><hr>
  <p>{{job.requirements | safe}}</p>
{% if current_date > job.closing %}
<p><a class="btn btn-info btn-lg disabled" href="#" role="button">Apply</a>
</p>
{% else %}
<p><a class="btn btn-info btn-lg" data-toggle="collapse" href="#collapseJob" role="button" aria-expanded="false" aria-controls="collapseJob">Apply</a>
</p>

<div class="collapse" id="collapseJob">
  
    <div class="card card-body">
        <form action="{%  url 'career' job.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="firstName">Job Title</label>
                    <input type="text" class="form-control" readonly value="{{job.title}}" id="jobTitle" name="job_title">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="first_name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" required>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="email">E-Mail Address</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="phone">Phone Number</label>
                      <input type="phone" class="form-control" id="phone" name="phone" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="coverLetter">Attach Cover letter <em class="text-danger">(Only pdf files are allowed, i.e. JOHN_DOE_COVER_LETTER.pdf)</em></label>
                    <input type="file" class="form-control-file" name="cover" id="coverLetter" accept=".pdf" required>
                  </div>
                  <div class="form-group">
                    <label for="cv">Attach CV <em class="text-danger">(Only pdf files are allowed, i.e. JOHN_DOE_CV.pdf)</em></label>
                    <input type="file" class="form-control-file" name="cv" id="cv" accept=".pdf" required>
                  </div>
                  {% if current_date > job.closing %}                                
                <button type="submit" class="btn btn-info btn-lg disabled">Submit Application</button> 
                  {% else %}
                <button type="submit" class="btn btn-info btn-lg">Submit Application</button>
                  {% endif %}                       
            </div>
          </form>  
    </div><hr>
    {% endif %}

</div>
        
    </div>

</body><br>
{% endblock content %}