{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <div>
                <h2 class="text-center text-info"><strong>CAREER OPPORTUNITIES</strong></h2><hr>
                <p>Pine-Hill Limited is an Equal Opportunity Employer and is committed to the principle of equal employment opportunity 
                  for all employees and to providing employees with a work environment free of discrimination and harassment of any kind 
                  and is committed to abiding by the laws or regulations in the locations where we operate.</p>
                  <h3 class="text-center text-info"><strong>OPEN JOBS</strong></h3><hr>
                {% if jobs %}
                  {% for job in jobs %}
                <h4 class="text-center text-info"><strong>{{ job.title }}</strong></h4><hr>
                <h3 class=" text-info"><strong>Job Description</strong></h3><hr>
                <ol>
                {% for description in job.description.split %}
                <li>{{description}}</li>
                {% endfor %}
                </ol>
                
                <h3 class=" text-info"><strong>Job Requirements</strong></h3><hr>
                <ol>
                  {% for requirement in job.requirements.split %}
                  <li>{{requirement}}</li>
                  {% endfor %}
                </ol>
                {% if current_date > job.closing %}
                <p><a class="btn btn-info btn-lg disabled" data-toggle="collapse" href="#collapseJob" role="button" aria-expanded="false" aria-controls="collapseJob">Apply</a>
                </p>
                {% else %}
                <p><a class="btn btn-info btn-lg" data-toggle="collapse" href="#collapseJob" role="button" aria-expanded="false" aria-controls="collapseJob">Apply</a>
                </p>
                {% endif %}
                <div class="collapse" id="collapseJob">
                    <div class="card card-body">
                        <form action="#">
                            <form>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name">
                                  </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="email">E-Mail Address</label>
                                      <input type="email" class="form-control" id="email" name="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="phone">Phone Number</label>
                                      <input type="phone" class="form-control" id="phone" name="phone">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="coverLetter">Attach Cover letter</label>
                                    <input type="file" class="form-control-file" id="coverLetter">
                                  </div>
                                  <div class="form-group">
                                    <label for="cv">Attach CV</label>
                                    <input type="file" class="form-control-file" id="cv">
                                  </div>                                
                                <button type="submit" class="btn btn-info btn-lg">Submit Application</button>
                              </form>
                        
                            </div>
                          </form>  
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-12">
                      <p><h3>No open jobs to display</h3></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </body>
  <br>
  {% endblock content%}
 