{% extends 'base.html' %}
{% load static %}
{% block title %} | Consultation Process {% endblock %}

{% block content %}
        

        <div class="container">
          {% include '_partials/messages.html' %}
            <h2 class="text-center text-info"><strong>CONSULTATION PROCESS</strong></h2><hr>
            <p>Consulting is all about assisting another organization, group, team or individual to transform business from one state to another.
                The consulting process involves assisting in such transformations predefined by the management or the individual concerned. 
                For your ease in engaging us for a consultancy project, below is our detailed Consultancy process:</p><hr>
            <div class="card-deck mb-3" id="consulting">
                <div class="card mb-3 shadow-sm">
                  <div class="card-header bg-info">
                    <h4 class="my-0 font-weight-normal text-center text-light">Step 1</h4>
                  </div>
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Entry</h4>
                  </div>
                  <div class="card-body">
                    <span>
                      <p>This is the step of entering the organization. It's the first contact interface between you and us</p>
                      <p>It includes the discussions to start the piece of consultancy. We get to know each other through face to face meetings. 
                        We decide preliminarily how we could help in problem solving and crisis intervention at this step. This is the beginning of YOU-US relationship.</p>
                    </span>
                  </div>
                </div>
                <div class="card mb-3 shadow-sm">
                  <div class="card-header bg-info">
                    <h4 class="my-0 font-weight-normal text-center text-light">Step 2</h4>
                  </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Preliminarily Diagnosis</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>Our focus here is shifted towards analyzing your problem and your purpose</p>
                        <p>Cooperation between YOU and US blooms at this stage.</p>
                        <p>We find out the performance patterns of your organization and an assessment of the requirements and resources related to the business transformation that is to be carried out.</p>
                      </span>
                    </div>
                  </div>
                  <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info">
                      <h4 class="my-0 font-weight-normal text-center text-light">Step 3</h4>
                    </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Contract</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>This is the agreement between YOU and US on what we will offer and what to expect from each other.</p>
                        <p>The contract  includes the problem statement, objectives and aims, milestones & declaration of re-negotiation terms.</p>
                      </span>
                    </div>
                  </div>
                  <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info">
                      <h4 class="my-0 font-weight-normal text-center text-light">Step 4</h4>
                    </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Diagnosis</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>This is the step where deeper examination of the problem is carried out. </p>
                        <p>The problem is fully analyzed, points of consensus and contrasts are filtered and addressed.</p>
                      </span>
                    </div>
                  </div>
                  <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info">
                      <h4 class="my-0 font-weight-normal text-center text-light text-light">Step 5</h4>
                    </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Feedback</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>This  step has to do with giving the data and the interpretation YOU in a way YOU can uderstand and accept.</p>
                        <p>Particularly, the recommendations by US  are scrutinized by YOU at this step.</p>
                      </span>
                    </div>
                    
                  </div>
                  <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info">
                      <h4 class="my-0 font-weight-normal text-center text-light">Step 6</h4>
                    </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Action</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>We (YOU & ME) examine the feasibility of the proposals put forward by US.</p>
                        <p>We carry out part of the action with no doubt every party do their part.</p>
                      </span>
                    </div>
                    
                  </div>
                  <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info">
                      <h4 class="my-0 font-weight-normal text-center text-light">Step 7</h4>
                    </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Measurement</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>We evaluate the performance of the project with the build in progress reviews.</p>
                      </span>
                    </div>
                    
                  </div>
                  <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info">
                      <h4 class="my-0 font-weight-normal text-center text-light">Step 8</h4>
                    </div>
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal text-center">Exit</h4>
                    </div>
                    <div class="card-body">
                      <span class="mt-3 mb-3">
                        <p>Our work together winds up.</p>
                        <p>We provide summary and review reports.</p>
                      </span>
                    </div>
                  </div>
                            
        </div><hr>
        <div class="container">
          <h3 class="text-center text-info">CONTACT US</h3><br>
          <div>
            <form action="{%  url 'consulting' %}" method="post">
              {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="last_name" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="company">Company Name</label>
                        <input type="text" class="form-control" id="company" name="company" required>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="email">E-Mail Address</label>
                          <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="phone">Phone Number</label>
                          <input type="phone" class="form-control" id="phone" name="phone" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="coverLetter">Message</em></label>
                        <textarea class="form-control" id="message" rows="3" name="message"></textarea>
                      </div>                           
                    <button type="submit" class="btn btn-info btn-lg">Submit</button>                    
                </div>
              </form>  
        </div><hr>
        </div>
    </div>

</body><br>
{% endblock content %}