{% extends 'base.html' %}
{% load static %}
{% block title %} | HR Consulting {% endblock %}

{% block content %}
        <img src='{% static "images/hr.jpg"%}' class="d-block w-100" alt="..." width="640" height="450"><br>

        <div class="container">
            <h4 class="text-center text-info"><strong>RECRUITMENT</strong></h4><hr>

            <p>At Pinehill Consulting, we support our clients with a targeted mid-senior talent to C-suite level investment sector talent acquisition. Our success is a result of our deep specialization, industry knowledge and
                 connections in the investment, impact finance, investor relations, wealth management, fund & portfolio management, venture capital firm’s private equity fields.</p>
            
            
            <h4 class="text-center text-info"><strong>Why Recruit through with Pinehill?</strong></h4><hr>

            <p>We have a dedicated team of in-house recruiters who are ready to support you with your most critical and urgent hiring needs while also aligning this with the organization strategy. With our technology platform,
                 deep industry connections, and a talent huge database, we can tap the best talent not just locally but internationally as well.</p>
        
            </div>
    </div>

</body><br>
{% endblock content %}