{% extends 'base.html' %}
{% load static %}
{% block title %} | Investment Management {% endblock %}

{% block content %}
        <img src='{% static "images/investment.jpg"%}' class="d-block w-100" alt="..." width="640" height="450"><br>

        <div class="container text-muted">
            <h3 class="text-center text-info"><strong>INVESTMENT MANAGEMENT</strong></h3><hr>

            <p>At PineHill we play an important role in promoting investment opportunities through expert financial engineering. We provide a comprehensive range of investment products &amp; services including portfolio management and advisory, among others. We personally cater to the clients&rsquo; requirements on a one-on-one basis to provide financial solutions that best suit their investment needs. The team brings together highly skilled risk and portfolio managers as well as research analysts, who have a proven track record in both emerging and developed capital markets who work round the clock to offer you:</p>
            
            <h4 class="text-center text-info"><strong>INVESTMENT STRATEGY</strong></h4><hr>

            <p>We work with you to capture your goals, risk tolerance, return needs, and time horizon in an Investment Policy Statement that guides further investing. Our compliance program and benchmarks evaluation; selection of and due-diligence on investment managers and vendors; and a variety of proprietary portfolio analytics make sure the investment strategy continues to meet your original or adjusted objectives.</p>
        
            <h4 class="text-center text-info"><strong>INVESTMENT PERFORMANCE MANAGEMENT</strong></h4><hr>
        

            <p class="about_art">One of our most important roles is to assist our clients in determining a suitable and appropriate asset allocation strategy by considering investment time horizon, risk tolerance, objectives and cash flow needs. We invest for the long term by establishing appropriate asset allocations, however; we proactively adjust those allocations and strategies depending upon changing market conditions.</p>
    
            <h4 class="text-center text-info"><strong>PRINCIPAL FINANCE</strong></h4><hr>
        

            <p class="about_art">We work with associate consultants and partner businesses to offer flexible primary financing solutions and engage in secondary market investing, across the capital structure. Our team has experience across a variety of industry groups including real estate, fintech, infrastructure, technology, leisure and healthcare.</p>
                    </div>
    </div>

</body><br>
{% endblock content %}