{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container">
          <hr>
          <h2 class="text-center text-info"><strong>BLOGS</strong></h2><hr>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0 text-primary"><strong>Employee Share Ownership Plans (ESOPs) for Entrepreneurs</strong></h4>
                  <div class="mb-1 text-muted">July 12</div>
                  <p class="card-text mb-auto">By</p>
                  <p class="card-text mb-auto text-muted">Karumba Kinyua</p>
                  <a href="https://www.linkedin.com/pulse/employee-share-ownership-plans-esops-entrepreneurs-karumba-kinyua/" target="_blank" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-md-4 d-none d-sm-block">
                  <img class="mt-3 mb-3" src="images/karumba 1.jpg" alt="image" width='300' height="200">
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h2 class="text-center text-info"><strong>VIDEOS</strong></h2><hr>
          <span class="card-deck">
            <div class="card col-xs-4">
              <iframe width="300" height="200" src="https://www.youtube.com/embed/KBB2I-FHLkM?start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h5><a href="https://www.youtube.com/embed/KBB2I-FHLkM?start=5" target="_blank">Role of Professional Financier</a></h5>
            </div>
            <div class="card col-xs-4">
              <iframe width="300" height="200" src="https://www.youtube.com/embed/_qui_T6WGgU?start=90" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h5><a href="https://www.youtube.com/embed/_qui_T6WGgU?start=90" target="_blank">Wealth Creation With Karumba Kinyua</a></h5>
            </div>
          </span><br>
        </div>

    </div>
  </body>
  {% endblock content%}
 