{% extends 'base.html' %}
{% load static %}
{% block title %} | Research Consulting {% endblock %}

{% block content %}
        <img src='{% static "images/research.jpg"%}' class="d-block w-100" alt="..." width="640" height="350"><br>

        <div class="container">
            <h2 class="text-center text-info"><strong>RESEARCH CONSULTING</strong></h2><hr>

            <p><em>“Enabling our clients to make practical resolutions through superior consumer, industry and investment insights”</em></p>
            <p>Pinehill consulting’s research department combines both qualitative and quantitative approaches to deliver substantive, effective and consistent results for use in its various departments and client organizations.</p>
            <p>Our areas of expertise include:</p>
            
            <h4 class="text-center text-info"><strong>MARKET RESEARCH</strong></h4><hr>

            <p>We use qualitative methods to obtain data through open-ended and conversational communications with the target market consumer to understand what people think about your product and why they think so. Quantitative research
                 methods are used to gather quantifiable data in terms of price, costs, direct and indirect market populations, competitive advantage, consumer behaviour, net promoter scores, among others. </p>
        
            <h4 class="text-center text-info"><strong>INVESTMENT RESEARCH</strong></h4><hr>
        

            <p>As an organization, we provide investment products and services that require an in-depth analysis of market conditions, risk tolerance, investments return, asset allocations, and strategies. These in total enable the team 
                to deliver financial solutions that meet client investment needs. </p>
    
            <p>We conduct industry research for clients seeking to expand their investments discretely or through partnerships. We conduct focused research and formulate investment plans for the target market that are used as credible 
                economic data in support of the highlighted potential investments and invite potential investors.  </p>
            </div>
    </div>

</body><br>
{% endblock content %}