{% extends 'base.html' %}
{% load static %}
{% block title %} | Risk & Governance {% endblock %}

{% block content %}
        <img src='{% static "images/risk.jpg"%}' class="d-block w-100" alt="..." width="640" height="350"><br>
        <DIV class="CONTAINER">
            <h2 class="text-center text-info"><strong>RISK MANAGEMENT</strong></h2><hr>

            <p>Managing risk is becoming more complex across all sectors ~ from greater transparency and accountability to increased public scrutiny and technological sophistication</p>

            <p>Organizations must balance an ever-widening list of priorities while managing risk and addressing governance and compliance requirements &ndash; all with fewer resources and less time. This is why organizations require a trusted advisor that can address the full spectrum of governance, risk, and compliance (GRC) considerations in the context of industry, operations, and culture. Pinehill Consulting collaborates with leaders across functions &ndash; and at all levels &ndash; to facilitate pragmatic solutions from an enterprise-wide perspective. Using an integrated approach, we ensure our clients&rsquo; focus remains on the strategic landscape of the organization:</p>


            <h4 class="text-center text-info"><strong>FINANCIAL RISK MANAGEMENT</strong></h4><hr>


            <p>We work with enterprises of all kinds and sizes to create robust financial risk management frameworks that satisfy compliance demands, contribute to better decision making and enhance performance.</p>


            <h4 class="text-center text-info"><strong>COMPLIANCE MANAGEMENT</strong></h4><hr>


            <p>We work with clients to make internal audit functions, enterprise risk management programs, and risk and controls management more efficient and effective through the Pinehill Consulting Internal Audit Risk &amp; Compliance Services (PIARCS).</p>


            <h4 class="text-center text-info"><strong>INVESTMENT RISK CONSULTING</strong></h4><hr>


            <p>At PineHill we not only create wealth for you, but protect your investments and capital by creating:</p>


            <ol>
                <li>Risk Profiles</li>
                <li>Multiple Time Horizons</li>
                <li>Risk Reward Trade-offs</li>
                <li>Risk of Loss</li>
            </ol>
                    </DIV>

    </div>
  </body>
  {% endblock content %}
