{% extends 'base.html' %}
{% load static %}
{% block title %} | Strategy Consulting {% endblock %}

{% block content %}
          <img src='{% static "images/strategy.png"%}' class="d-block w-100" alt="..." width="640" height="350"><br>

      <div class="container">
        <h2 class="text-center text-info"><strong>STRATEGY</strong></h2><hr>

    
        
        <p>We believe that competition is healthy, competition drives innovation, and competition shakes off complacency.</p>
        
        <p>However, to successfully compete, companies must align their objectives to their business culture, the skills and competencies of employees, and their organizational structure.</p>
        
        <p>To help you achieve your long term goals, at PineHill Consulting, we offer you strategy consulting services in:</p>
    
        <h4 class="text-center text-info"><strong>CORPORATE STRATEGY</strong></h4><hr>
        
        <p>We formulate enterprise-wide and business unit strategies and goals. We assess strategic options, support business planning processes and the development of growth agendas.</p>
        
        <h4 class="text-center text-info"><strong>BUSINESS MODEL TRANSFORMATION</strong></h4><hr>
        
        <p>Focusing on the design and development of futureproof strategies. We look at a range of organizational and operational elements and how they interact to achieve a common goal such as value propositions.</p>
        
        <h4 class="text-center text-info"><strong>MERGERS AND ACQUISITIONS</strong></h4><hr>
        
        <p>We support the establishment of alliances and joint ventures by helping to build business cases to understand the economic drivers of an M&amp;A, and support with the due diligence on potential targets.</p>
        
        <h4 class="text-center text-info"><strong>ORGANIZATIONAL STRATEGY</strong></h4><hr>
        
        <p>We assess the levers an organization needs to influence in order to deliver the strategy of the enterprise including organizational structures and corporate governance, and support strategic change management programmes.</p>
        
        <h4 class="text-center text-info"><strong>FUNCTIONAL STRATEGY</strong></h4><hr>
        
        <p>This involves the development of strategic plans and roadmaps for organizational functions, which can range from sales &amp; marketing to finance, supply chain, R&amp;D or procurement</p>
        
        <h4 class="text-center text-info"><strong>STRATEGY AND OPERATIONS</strong></h4><hr>
        
        <p>We assess the important elements of strategy execution such as process management, operations and technology</p>
        
      </div>  
    </div>
  </body>
  {% endblock content %}
