{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="jumbotron text-center" style="background-color: whitesmoke;">
          <div class="container">
            <h1 class="jumbotron-heading">The Team</h1>
            <p class="lead text-muted">At PineHill Consulting, we value our clients satisftaction and hence we observe Integrity, Accountability, 
                Quality and Enduring Partnerships by assembling a highly skilled team.</p>
            
          </div>
        </section><br>
        <div class="container">
          <h2 class="text-center text-info"><strong>CORE TEAM</strong></h2>
            
              <hr class="featurette-divider">
             <div class="container">
               {% if team %}
               {% for employee in team %}
                <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading">{{ employee.name}} <br><span class="text-muted">{{ employee.title }}</span></h2>
                    <p class="lead">{{ employee.profile }}</p> 
                  </div>
                  <div class="col-md-5">
                    <img class="featurette-image mx-auto" src="{{ employee.photo.url}}"  height="350" width="350" alt="Generic placeholder image">
                  </div>
                </div>
                <hr>
                {% endfor %}

               {%else%}
               <div class="col-md-12">
                 <p><h3>No Employees to display</h3></p>
               </div>
               {% endif%}

               <br><h2 class="text-center text-info"><strong>ASSOCIATE CONSULTANTS</strong></h2><hr>
               {% if consultants %}
               {% for employee in consultants %}
               <div class="row featurette">
                 <div class="col-md-7 order-md-2">
                   <h2 class="featurette-heading">{{ employee.name}}<br> <span class="text-muted">{{ employee.title }}</span></h2>
                   <p class="lead">{{ employee.profile }}</p>
                 </div>
                 <div class="col-md-5 order-md-1">
                  <img class="featurette-image mx-auto" src="{{ employee.photo.url}}"  height="350" width="350" alt="Generic placeholder image">
                   
                 </div>
               </div><hr>
               {% endfor %}
               {%else%}
               <div class="col-md-12">
                 <p><h3>No Associate Consultants to display</h3></p>
               </div>
               {% endif %}
           
               <hr class="featurette-divider">
              
            </div>
            
              
        </div>
    </div>
  </body>
  {% endblock content%}
