<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Timothy Madegwa">
    {% load static%}
    <link rel="shortcut icon" href='{% static "images/pinehill_logo.png"%}' type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>PineHill {%block title %} {% endblock %}</title>
  </head>
  <body>
    <div style="font-family: Candara; font-size: large;">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
          <a class="navbar-brand navbar-light bg-light" href="{% url 'index' %}"><img src='{% static "images/pinehill_logo.png" %}' height="50" width="150" alt="logo"></a>
          <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                {% if '/' == request.path %}
               <a class="active nav-link" href="{% url 'index' %}"><strong>Home</strong></a>
               {% else %}
               <a class="nav-link" href="{% url 'index' %}">Home</a>
               {% endif %}
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#whoweare" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About Us
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  {% if 'about' in request.path %}
                  <a class=" active dropdown-item" href="{% url 'about' %}">Who We Are</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'about' %}">Who We Are</a>
                  {% endif %}
                  
                  {% if 'team' in request.path %}
                  <a class="active dropdown-item" href="{% url 'team' %}">The Team</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'team' %}">The Team</a>
                  {% endif %}
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  {% if 'investment' in request.path %}
                  <a class="active dropdown-item" href="{% url 'investment' %}">Investment Management</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'investment' %}">Investment Management</a>
                  {% endif %}
                  
                  {% if 'strategy' in request.path %}
                  <a class="active dropdown-item" href="{% url 'strategy' %}">Strategy Consulting</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'strategy' %}">Strategy Consulting</a>
                  {% endif %}
                  
                  {% if 'risk' in request.path %}
                  <a class="active dropdown-item" href="{% url 'risk' %}">Risk and Governance</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'risk' %}">Risk and Governance</a>
                  {% endif %}
                  
                  {% if 'capacity' in request.path %}
                  <a class="active dropdown-item" href="{% url 'capacity' %}">Capacity Building</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'capacity' %}">Capacity Building</a>
                  {% endif %}
                  
                </div>
              </li>
              <li class="nav-item">
                {% if 'blogs' in request.path %}
                <a class="nav-link active" href="{% url 'blogs' %}"><strong>Media & Blogs</strong></a>
                {%else%}
                <a class="nav-link" href="{% url 'blogs' %}">Media & Blogs</a>
                {%endif%}
              </li>
              <li class="nav-item">
                {% if 'careers' in request.path %}
                <a class="active nav-link" href="{% url 'careers' %}"><strong>Careers</strong></a>
                {% else %}
                <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                {% endif %}
              </li>              
            </ul>    
          </div>
        </nav><br><br><br>

      {% block content %}

      {% endblock content %}
  <!-- Footer -->
<footer class="page-footer font-large special-color-dark pt-4 bg-primary" style="color: white; font-family: Candara; font-size: large;">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">PineHill Consulting</h5>
        <p>We are a boutique advisory and investment firm combining classic and innovative methods with outstanding risk and strategy 
            expertise to provide clients with business and investment management solutions that best suit their needs.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Services</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="{% url 'investment' %}" style="color: white;">Investment Management</a>
            </p>
          </li>
          <li>
            <p>
              <a href="{% url 'strategy' %}" style="color: white;">Strategy Consulting</a>
            </p>
          </li>
          <li>
            <p>
              <a href="{% url 'risk' %}" style="color: white;">Risk and Governance</a>
            </p>
          </li>
          <li>
            <p>
              <a href="{% url 'capacity' %}" style="color: white;">Capacity Building</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Floor 1, Suite 1 Four Greenway Suites, Four Greenway Street, Off Westlands Road, Westlands, Nairobi</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> <a href="mailto: info@pinehillconsulting.co.ke" target="_blank" style="color: white;">info@pinehillconsulting.co.ke</a></p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> <span class="bg-light" style="color: black;">+254 723 624390</span></p>
          </li>
        </ul>

      </div>

  </div>
  <!-- Footer Elements -->
</footer>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark" style="color: white;">
    © 2020 PineHill Consulting. All Rights Reserved<br>
    Powered by <a href="https://aqila.co.ke" style="color: lightblue" target="_blank">Aqila Software Limited</a>
  </div>
  <!-- Copyright -->


<!-- Footer -->
</html>